*{
    margin: 0;
    padding: 0;
}
body{
    margin: 15%;
    margin-top: 0;
    background-image: url(BG/blackbg.jpg);
    display: flex;
    flex-direction: column;
}

button{
    position: absolute;
    right: 3%;
    top: 3%;
    width: 80px;
    height: 40px;
    background-color: orange;
    outline: none;
    border: none;
    border-radius: 10px;
    position: fixed;
    
}

button a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bolder;
}

button:hover{
    background-color: rgb(188, 111, 34);
    cursor: pointer;
}

button:active{
    background-color: rgb(149, 80, 53);
}

h1{
    text-align: center;
    font-family: fantasy;
    letter-spacing: 6px;
    font-size: 50px;
    margin-bottom: 100px;
    color: white;
}
.games p{
    color: white;
    font-family: cursive;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
    font-size: 35px;
}
.wuwa, .genshin, .ml, .codm {
    display: flex;
}

.games img{
    align-content: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    align-items: center;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .9);
    
}
.wuwa, .genshin, .ml, .codm{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
}
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}


/* responsiveness */
@media (min-width: 361px) and (max-width: 539px){
    body{
        margin: 10px;
    }

    button{
        width:38px;
        height: 18px;
        border-radius: 3px;
        position: absolute;
        right:3%;
        top: 2%;
        padding-bottom: 5px;

    }
    button a{
        font-size: 8px;

    }

    h1{
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .games p {
        font-size: 10px;
        margin-top: 0;
        margin: 10px;
    }
    .games img{
        width: 40%;
        height: 40%;
        box-shadow: 0 0 15px rgba(0, 0, 0, .9);
    }
}

@media (min-width: 540px) and (max-width: 767px){
    
    body{
        margin: 10px;
    }
    h1{
        font-size: 35px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .games p {
        font-size: 18px;
        margin-top: 0;
        margin: 10px;
    }
    .games img{
        width: 40%;
        height: 40%;
        box-shadow: 0 0 15px rgba(0, 0, 0, .9);
    }

}

@media (min-width: 768px) and (max-width: 912px){
    
    body{
        margin: 40px;
        margin-top: 10px;
    }
    h1{
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .games p {
        font-size: 20px;
        margin-top: 0;
        margin: 10px;
    }
    .games img{
        width: 40%;
        height: 40%;
        box-shadow: 0 0 15px rgba(0, 0, 0, .9);
    }

}

@media (min-width: 913px) and (max-width: 1400px){

    body{
        margin: 90px;
        margin-top: 10px;
    }
    h1{
        font-size: 50px;
        margin-top: 0px;
        margin-bottom: 50px;
    }
    .games p {
        font-size: 23px;
        margin-top: 0;
        margin: 10px;
    }
    .games img{
        width: 40%;
        height: 40%;
        box-shadow: 0 0 15px rgba(0, 0, 0, .9);
    }
}
@media (max-width: 360px){
    body{
        margin: 10px;
    }

    button{
        width:38px;
        height: 18px;
        border-radius: 3px;
        position: absolute;
        right:3%;
        top: 2%;
        padding-bottom: 5px;

    }
    button a{
        font-size: 8px;

    }

    h1{
        font-size: 23px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .games p {
        font-size: 10px;
        margin-top: 0;
        margin: 10px;
    }
    .games img{
        width: 40%;
        height: 40%;
        box-shadow: 0 0 15px rgba(0, 0, 0, .9);
    }
}